.photo-grid {
    max-width: 90%;
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: auto;
    padding-bottom: 92px;
}


@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 90%;
        grid-template-rows: auto; 
        grid-template-columns: repeat(3, 1fr);
    }
}


@media all and (max-width: 768px) {
    .photo-grid {
        max-width: 75%;
        grid-template-rows: auto; 
        grid-template-columns: repeat(2, 1fr);
    }
}


@media all and (max-width: 320px) {
    .photo-grid {
        max-width: 88%;
        grid-template-rows: auto; 
        grid-template-columns: 1fr;
        margin: auto;
    }
} 