.gallery {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 92px;
}

@media all and (max-width: 320px) {
    .gallery {
        padding-bottom: 88px;
    }
}

@media all and (max-width: 320px) {
    .gallery {
        padding-bottom: 64px;
    }
}