.section-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.5;
    color: #FFFFFF;
    padding-bottom: 40px;
    margin: 0;
}

@media all and (max-width: 320px) {
    .section-title {
        width: 250px;
        font-size: 32px;
        padding-bottom: 20px;
    }
}