.place__infa {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

@media all and (max-width: 768px) {
    .place__infa {
       max-width: 92%;
    }
}

@media all and (max-width: 550px) {
    .place__infa {
        max-width: 100%;
    }
}

@media all and (max-width: 320px) {
    .place__infa {
        padding-left: 0;
    }
}