.gallery__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px;
}

@media all and (max-width: 1024px) {
    .gallery__item {
        max-width: 310px;
    }
}


@media all and (max-width: 768px) and (max-width: 1024px) {
    .gallery__item {
        max-width: 350px;
    }
}
