.header {
    max-width: 1184px;
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 48px;
    align-self: center;
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 16px;
    }
}