.lead__caption {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 92px;
}

@media all and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media all and (max-width: 320px) {
    .lead__caption {
        padding-bottom: 64px;
    }
}