.place__url {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__url:hover {
    color: #AAAAAA;
    transition: 1s;
}