.place__website {
    align-self: flex-end;
    padding-bottom: 48px;
    width: 200px;
}

@media all and (max-width: 768px) {
    .place__website {
        max-width: 210px;
    }
} 

@media all and (max-width: 767px) {
    .place__main {
        max-width: 230px;
    }
} 

@media all and (max-width: 320px) {
    .place__website {
        max-width: 215px;
        padding-bottom: 32px;
    }
} 