.place__main {
    display: flex;
    justify-content: space-between;
    max-width: 705px;
}

@media all and (max-width: 768px) {
    .place__main {
        max-width: 560px;
    }
}

@media all and (max-width: 656px) {
    .place__main {
        flex-direction: column;
       
    }
} 
